<!DOCTYPE html>
<html data-vue-meta-server-rendered {{{ meta.inject().htmlAttrs.text() }}}>
  <head><!-- index for default theme -->
  	{{{ meta.inject().title.text() }}}
  	{{{ meta.inject().meta.text() }}}
		{{{ meta.inject().link.text() }}}
		<script type="text/javascript">
			WebFontConfig = {
				google: { families: [ 'Arvo:400,700:latin', 'Montserrat:400,500,700:latin', 'Open+Sans:400,700:latin' ] }
			};
			(function() {
				var wf = document.createElement('script');
				wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();
    </script>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
		{{{ renderStyles() }}}
		{{{ output.appendHead() }}}
	</head>
  <body>
		<!--vue-ssr-outlet-->
  </body>
</html>
