<template>
  <div v-if="!isCheckoutPage" class="hidden lg:flex w-full justify-center items-center py-1 bg-black">
    <span class="text-xs tracking-md text-white font-medium">{{ announcement }}</span>
  </div>
</template>

<script>
import CurrentPage from 'theme/mixins/currentPage'

export default {
  mixins: [CurrentPage],
  computed: {
    announcement () {
      return 'free shipping all over India'
    }
  }
}
</script>
