@import '~theme/css/animations/transitions';

.ripple {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    background-color: #f5f5f5;
    border-radius: 50%;
    opacity: .2;
    transform: translate(-50%, -50%) scale(0);
  }
  &:not(:active):after {
    animation: ripple-effect 1s ease-out;
  }
  &::after {
    visibility: hidden;
  }
  &:focus {
    &::after {
      visibility: visible;
    }
  }
  &-dark {
    &::after {
      background-color: #ddd;
    }
  }
}

.button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

button,
.button {
  outline: none;
  cursor: pointer;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}


.btn-primary {
  @apply bg-primary px-4 py-2 text-black;
  transition: background-color $duration-main $motion-main;

  &:hover, &:focus {
    @apply bg-black text-white;
  }

  &.btn-xs {
    @apply py-1;
  }

  &.btn-md {
    @apply py-3 px-2xl;
  }

}

.btn-grey-dark {
  @apply inline-block border-none bg-grey-dark px-8 py-3 ripple tracking-md text-sm text-white uppercase;

  &:hover, &:focus {
    @apply text-primary;
  }
}

.btn-link {
  @apply text-sm text-grey bg-transparent;

  &:hover, &:focus {
    @apply text-primary2;
  }
}
