@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$z-index-modal: map-get($z-index, modal);

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: $z-index-modal;
  text-align: inherit;
  will-change: transform;
  pointer-events: auto;

  @media (max-width: 600px) {
    top: 70px
  }

  .modal-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    pointer-events: none;
  }

  .modal-center {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 945px;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    z-index: $z-index-modal+1;
    pointer-events: auto;
    background-color: #fff;

    @media (max-width: 600px) {
      min-height: 100%;
      min-width: 100%;
      margin: 0;
    }
  }

  .modal-header {
    position: relative;
    background: #fbfbfb;
    padding: 0;

    h2 {
      font-size: 32px;
      color: color(dark);
      border-bottom-width: 3px;
      border-bottom-style: solid;
      border-bottom-color: theme('colors.primary');
      display: inline-block;
      height: 80px;
      line-height: 80px;
      margin: 0 20px;

      @screen sm {
        margin: 0 50px;
      }
    }
  }

  .modal-content {
    padding: 50px 20px;
    font-size: 15px;
    color: #666;

    @screen sm {
      padding: 50px;
    }

    a {
      color: color(dark);
    }
  }

  .modal-close {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
  }
}
