// Typography
// ==========
// Font sizes and families
//
// stylelint-disable indentation

// Font Families
// -------------
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Montserrat:400,500,700|Open+Sans:400,700&display=swap');

$font-fallbacks: (
        sans-serif: '-apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif',
        serif: 'Arvo Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif'
);

$font-families: (
        primary: ("Open Sans", #{(map-get($font-fallbacks, 'sans-serif'))}),
        secondary: ("Arvo", map-get($font-fallbacks, 'serif'))
) !default;
