// Global styles for text
body {
  @apply text-black text-base font-body font-normal leading-base;
}

h1, h2, h3 {
  @apply font-heading2;
}

h4, h5, h6 {
  @apply font-heading2;
}

h1 {
  @apply text-h1 leading-h1;
}

h2 {
  @apply text-h2 leading-h2;
}
h3 {
  @apply text-h3 leading-h3;
}
h4 {
  @apply text-h4;
  font-weight: 500;
}
h5 {
  @apply text-h5;
}
h6 {
  @apply text-h6;
}

a {
  @apply no-underline;
}

b {
  font-weight: 500;
}
